<!-- polls/templates/polls/feedback_success.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Feedback Submitted</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Thank You for Your Feedback!</h2>
        <a href="{% url 'feedback' %}" class="btn btn-primary">Submit Another Feedback</a>

        <a href="{% url 'index' %}" class="btn btn-primary">Go Back</a>


    </div>
</body>
</html>
